.home {
  display: flex;
  flex-direction: column;
}

.question-and-answers-body {
  display: flex;
  flex-direction: column;
  width: 950px;
}
/* .individual-question-container {
  display: grid;
  grid-template-columns: 80px 370px 100px 200px 200px;
  width: 100%;
  background: rgba(64, 174, 14, 0.564);
  color: white;
  font-size: 18px;
  font-weight: 500;
} */

.individual-question-container {
  /* border: rgb(57,138,18) 5px solid;
  border-radius: 10px; */
  width: 950px;
  margin: 0 auto;
}

.individual-question-container-edit {
  background: #f1ecea;
  /* display: flex;
  flex-direction: column; */
}

.individual-question-container > div {
  /* padding: 20px; */
}
.user-timestamp-question-con {
  /* background: rgba(64, 174, 14, 0.564);
  font-size: 18px;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}
.user-timestamp-question-con-edit {
  /* background: blue; */
}

.username-timestamp {
  background: rgba(64, 174, 14, 0.564);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 35px;
  font-size: large;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.username-timestamp > div {
  padding-right: 4px;
}

.ind-ques-title {
  /* border: green 3px solid; */
  font-size: 30px;
  padding-top: 0%;
  padding: 15px;
  font-weight: 500;
  background: #f1ecea;
  border-bottom: 1px black solid;
}

.edit-ques-title {
  background: #f1ecea;
  font-size: 30px;
  padding-top: 0%;
  padding: 15px;
  font-weight: 500;
  border: none;
}

.ind-ques-body {
  padding: 15px;
  font-size: 20px;
  background: #f1ecea;
}

/* CRUD Css */
.edit-ques-body {
  background: #f1ecea;
  padding: 15px;
  font-size: 20px;
  border: none;
}

.ind-ques-image {
  /* border: orange 1px solid; */
  max-width: 950px;
  background: #f1ecea;
  justify-content: center;
}

.edit-ques-url {
  background: #f1ecea;
  border: none;
}

.ind-ques-cruds {
  background: #f1ecea;
  display: flex;
  justify-content: flex-end;
}

.all-answer-container {
  background: #f1ecea;
  width: 950px;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.replies-banner {
  background: #e51613;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 35px;
  font-size: large;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.ques-input-con {
  display: flex;
  flex-direction: column;
}
.ques-edit-crud-buttons {
  display: flex;
  justify-content: end;
}
