.question-container {
  width: 950px;
  border: 1px solid black;
  margin: 0 auto;
}

.question-title {
  display: grid;
  grid-template-columns: 80px 370px 100px 200px 200px;
  height: 50px;
  width: 100%;
  background: rgba(64, 174, 14, 0.564);
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.question-content {
  display: grid;
  grid-template-columns: 80px 370px 100px 200px 200px;
  grid-template-rows: 80px;
  border: 1px solid red;
}

.q-c-t-q,
.q-c-answers,
.q-c-a-user {
  font-size: 18px;
  font-weight: 500;
}

.q-c-t-d {
  color: #777777;
  font-size: 16px;
}
.q-c-a-date {
  color: #777777;
  font-size: 14px;
}
