.question-title {
  display: grid;
  grid-template-columns: 80px 370px 100px 200px 200px;
  height: 50px;
  width: 100%;
  background: rgba(64, 174, 14, 0.564);
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.ans-vote-container {
  /* side by side */
  display: flex;
}

.vote-container {
  /* split horizontally */
  display: flex;
  flex-direction: column;
  width: 100px;
}
.upvote-con {

}
.thumbs-up-button{

}
.upvote-total{
  color: green;
}

.downvote-con{

}
.thumbs-down-button{

}
.downvote-total{
  color: red;
}

.ans-container {
  width: 900px;
  display: flex;

}

.ans-body-and-user-con{
  display: flex;

}

.ans-detail{

}
.ans-crud-options{
  display: flex;
  justify-content: flex-end;
}

.ans-crud-options {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* make height = to height of vote-container */
.ans-user-details{
  display: flex;
  justify-content: flex-end;

}
.ans-timestamp {

}
.ans-user-pfp {

}
.ans-username {

}
