.header{
display:flex;
align-items: center;
justify-content: space-between;
border-top: 3px solid rgba(64, 174, 14, 0.564);
border-bottom: 1px solid lightgray;
z-index: 100;
width: 100%;
/* height: 50px; */
position: sticky;
top:0;
}

.header_question{
  color:rgba(64, 174, 14, 0.564);
}

.header_center{
display: flex;
flex:1;
align-items: center;
max-width: fit-content;
padding: 10px;
height: 20px;
border: 1px solid lightgray;
border-radius: 99px;
}

.header_center > input{
border:none;
padding: 10px;
outline-width: 0;
width: 250px;
}

.header_left{
  display: flex;
}
