.askQuestionBody {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 1000px;
  color: var(--text2);
  background: linear-gradient(
    to bottom,
    white,
    rgba(66, 194, 7, 0.564),
    rgba(0, 0, 0, 0.568)
  );
}

.askQuestion_logo {
  display: flex;
  padding-bottom: 20px;
}

.askQuestion_ask {
  color: rgb(77, 230, 7);
}

.askQuestion_question {
  color: black;
}

.askQuestion_ele {
  font-weight: 800;
  font-size: 18px;
  color: black;
}

.input_ele {
  display: block;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 2px solid black;
}

.post-btn-section {
  padding-top: 20px;
  width: 250px;
}

.post-button {
  color: var(--text2);
  font-weight: bolder;
  background-color: var(--main);
  cursor: pointer;
  border: 2px groove white;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.post-button:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

::placeholder {
  color: black;
}

.modal-error {
  list-style-type: none;
  color: black;
}
