.signUpBody {
  display: grid;
  place-items: center;
  height: 100vh;
  color: var(--text2);
  background: linear-gradient(
    to bottom,
    white,
    rgba(66, 194, 7, 0.564),
    rgba(0, 0, 0, 0.568)
  );
}

.signup_label {
  font-weight: 800;
  font-size: 18px;
  color: black;
}

.signUp_form {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.signup_logo {
  display: flex;
  align-items: center;
}

.signup_question {
  color: rgb(57, 138, 19);
}

.signup_overflow {
  color: black;
}

.signup_signupform {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 70px;
  color: black;
}

.signup_username {
  display: block;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  background-color: transparent;
}

.signup_email {
  display: block;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  background-color: transparent;
}

.signup_password {
  display: block;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  background-color: transparent;
}

.signup_repeate_password {
  display: block;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  background-color: transparent;
}

.signup_button_div {
  padding-top: 20px;
  width: 250px;
}

.signup_button {
  color: var(--text2);
  font-weight: bolder;
  background-color: var(--main);
  cursor: pointer;
  border: 2px groove white;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.signup_button:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.signup_error{
  color:black;
  font-weight: bolder;
}
