.sidebar_container {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black;
}

/* .sidebar_container:hover{
  background-color: var(--main);
  border-radius: 10px;
} */

.sidebar_container > h4 {
  margin-left: 20px;
  font-weight: 600;
}
.row_title {
  color: var(--text1);
}
